{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Polatic Realtime Votes{% endblock title %}

{% block header %}
<link href="{% static 'bootflat/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'bootflat/css/site.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'man.css' %}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
<script src="{% static 'knockout-3.2.0.js' %}"></script>
<script src="{% static 'chart.min.js' %}"></script>
{% endblock header %}

{% block content %}

<div class="container">
    <div class="span12">
        <center>
            <h3><span id="counter">0</span> Votes</h3>
            <canvas id="canvas" width="400" height="300"></canvas>
            <hr/>
            <p>
                Real-Time Vote by &nbsp; <img src="{% static 'img/polatic.png'%}" alt="polatic" >
            </p>
        </center>
    </div>
</div>

<script type="text/javascript">
    var sockjs = new SockJS('http://vote.polatic.com:8080/example');

    var canvas = document.getElementById('canvas'),
    ctx = canvas.getContext('2d'),
    startingData = {
         labels : [{% for question in questions %}"{{ question.name}}",{% endfor %}],
         datasets: [
                {
                fillColor: "#5248FD",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                data: [{% for question in questions %}{{ question.counter }},{% endfor %}]
                }
        ]
    };

    sockjs.onopen = function() {
        console.log("opened");
    };

    sockjs.onmessage = function(e) {
        var input = e.data;
        var arrayLength = input.split(",");
        var total = 0;
        for (var i = 0; i < arrayLength.length; i++) {
            myLiveChart.datasets[0].bars[i].value = arrayLength[i];
            console.log("Key, val " + i + ", " + arrayLength[i]);
            total += parseInt(arrayLength[i]);
            //Do something
        }
        myLiveChart.update();
        $("span#counter").html(total);
    };

    sockjs.onclose = function() {
        console.log('Closing Connection.');
    };

    // Reduce the animation steps for demo clarity.
    var myLiveChart = new Chart(ctx).Bar(startingData, {
        animationSteps : 15,
        animation: true,
        scaleLabel: "<%=value%>",
        scaleFontSize: 16,
        scaleFontStyle: "bold",
        maintainAspectRatio: true,
    });

</script>
{% endblock content %}
